beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
filelock==3.0.12
h11==0.12.0
httpcore==0.13.3
httpx==0.18.1
idna==2.10
patool==1.12
portalocker==2.3.0
python-vlc==3.0.12118
pywin32==301
requests==2.25.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
urllib3==1.26.5
vk-api==11.9.4
youtube-dl==2021.6.6
youtube-search-python==1.4.5
