bcj-cffi==0.5.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
idna==2.10
multivolumefile==0.2.2
pafy==0.5.5
ppmd-cffi==0.3.3
py7zr==0.14.1
pycparser==2.20
pycryptodome==3.10.1
python-vlc==3.0.11115
pyzstd==0.14.4
requests==2.25.1
six==1.15.0
soupsieve==2.2
texttable==1.6.3
urllib3==1.26.3
vk-api==11.9.1
win32-setctime==1.0.3
youtube-dl==2021.3.14
youtube-search==2.1.0
