[Unit]
Description=TTMediaBot
Requires=pulseaudio.service

[Service]
Type=simple
WorkingDirectory=/home/tt/TTMediaBot
ExecStart=/home/tt/TTMediaBot/TTMediaBot.sh -c /home/tt/TTMediaBot/config.json
Restart=on-failure

[Install]
WantedBy=default.target